{{template "base" .}}
{{template "header" .}}

<div class="container">
    <h1 class="p-3 mb-4">Комментарии пользователей</h1>

    <form action="" method="post" class="mt-5">
        <div class="row">
            <div class="col-lg-1">
                <label for="movie">Фильм</label>
            </div>
            <div class="col-lg-2 me-5">
                <select name="movie" id="movie" style="width: 200px"></select>
            </div>
        </div>
        <button type="button" class="btn btn-secondary mt-3" id="get-comments">Посмотреть комментарии</button>

        <div id="comment-data"></div>
    </form>

    <div class="row">
        <div>
            <table class="table table-striped table-bordered table-hover tableID" style="margin-top: 100px">
                <thead>
                <tr>
                    <th class="center align-middle">Название фильма</th>
                    <th class="center align-middle">Электронная почта пользователя</th>
                    <th class="center align-middle">Текст комментария</th>
                    <th class="center align-middle">Дата публикации</th>
                </tr>
                </thead>
                <tbody id="data">
                <tr>
                    <td colspan="5">Комментариев нет</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{template "script" .}}

<script type="text/javascript">
    window.onload = function () {
        $('.comments-view-head').addClass("active");

        $("#movie").select2({
            disabled: false,
            theme: "bootstrap4",
            language: "ru",
            placeholder: "Выберете фильм",
            ajax: {
                url: '/api/movies',
                delay: 1000,
                data: function (params) {
                    let searchString = params.term ? params.term : '';
                    let filter = "%" + searchString + "%";
                    return {
                        search: filter,
                        page: params.page - 1 || 0
                    };
                },
                processResults: function (response) {
                    response = JSON.parse(response);
                    return {
                        results: response.data.map(function (currentValue) {
                            return {
                                id: currentValue.ID,
                                text: currentValue.Title
                            }
                        }),
                        pagination: {
                            more: (response.page * response.size + response.size) < response.totalElements
                        }
                    }
                },
                error: function (response) {
                    toast({heading: "", text: "Ошибка получения фильма" + response.responseText, type: "error"});
                }
            }
        });

        let commentData = $('#comment-data');

        $('#get-comments').click(function () {
            let movie = $('#movie').val();

            $.ajax({
                method: "GET",
                url: "/user/comments/get",
                dataType: 'json',
                async: true,
                data: {movie: movie},
                success: function (data) {
                    let dataTable = $("#data");
                    if (data != null) {
                        dataTable.text("");
                        data.map(function (currentValue) {
                            dataTable.append(`<tr class="comment${currentValue.ID}">
                                        <td>${currentValue.MovieTitle}</td>
                                        <td>${currentValue.UserEmail}</td>
                                        <td>${currentValue.CommentText}</td>
                                        <td>${new Date(currentValue.CommentDate).toLocaleDateString()}</td>
                                        </tr>`)
                        });
                    } else {
                        dataTable.html("<tr><td colspan=\"5\">Комментариев не найдено</td></tr>");
                    }
                },
                error: function (response) {
                    toast({heading: "", text: "Ошибка получения комментариев" + response.responseText, type: "error"});
                }
            })
        })

    };
</script>